.nav {
    position: relative;
    width: 200px;
    padding-top: 1em;

    &__tagTree {
        color: $gray-300;
        list-style-type: none;
        padding: 0;
        margin: 0;

        &.is-nested {
            padding-left: 1em;
        }
    }

    &__logout {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 1em 0;
        background: none;
        border: none;
        border-top: 1px solid $gray-600;
        color: $gray-400;
        font-family: inherit;
        cursor: pointer;

        &:hover {
            background-color: $gray-800;
        }
    }

    &__tag {
        .nav__tag__label {
            position: relative;
            display: block;
            box-sizing: border-box;
            width: calc(100% + 2em);
            padding: 0.4em 0.6em 0.4em 5em;
            margin-left: -2em;
            font-weight: 300;
            cursor: pointer;

            &::before {
                content: '#';
                position: absolute;
                top: 0.5em;
                left: 3.5em;
                color: $gray-600;
            }

            &:hover {
                color: $gray-000;
                background-color: $red;

                &::before { color: $gray-000; }
            }
        }

    }
}